@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

/* Defaults */

body,
html {
	all: unset;
}
body {
	width: 100%;
	height: 100%;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
}
.flex-container__centre-flex, main, aside {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
}
.flex-conatiner__flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

button {
	all: unset;
}

/* Slot */

main {
	background: coral;
	position: fixed;
	z-index: 1;
}
main::before {
	content: '';
	display: block;
	position: absolute;

	width: 100%;
	height: 100%;
	background: url(../img/confetti.gif) repeat;

	pointer-events: none;
	will-change: auto;
	transform: translateY(-100%);
}
.machine {
	width: 50%;
	height: 350px;

	border: 15px solid brown;
	border-radius: 20px;
	flex-flow: column;
}
.machine__slot-rotator {
	width: 30%;
	border: 20px solid #333;
	border-radius: 20px;
	overflow: hidden;
}

.machine__slot-rotator > img {
	width: 100%;

	transform: translateY(0);
}

button#button-settings {
	position: fixed;
	z-index: 3;
	top: 2em;
	left: 2em;
	transform: scale(2);
}
button#button-settings::after {
	content: '⚙️'
}

button#button-trigger {
	display: block;
	width: 32px;
	height: 32px;
	background: #DDD;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
button#button-trigger::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background: #F3333F;

	border-radius: 50%;
	transform: translate(7px, -100px);
}
button#button-trigger::after {
	content: '';
	display: block;
	width: 5px;
	height: 80px;
	background: #333;

	transform: translate(14px, -100px);
}

/* White design */

main.alternate-style {
	background: #DDD;
}
main.alternate-style .machine {
	background: #FFF;
}
main.alternate-style #button-trigger {
	background: #666;
}

/* Overlay */

#overlay {
	position: fixed;
	z-index: 2;
	background: rgba(100,100,100, 0.5);

	opacity: 0;
	pointer-events: none;
}
#overlay.menu-open {
	opacity: 1;
	pointer-events: auto;
}

.overlay__menu-container {
	background: #666;
	border: 3px solid white;
	height: 200px;
	width: 40%;

	color: white;
	padding: 2em;
	box-shadow: 2px 2px 8px 2px rgba(50,50,50, 0.7);
}
#overlay #overlay__menu-options {
	height: 50%;
	position: relative;
}
#overlay input {
	display: block;
	all: unset;
	padding: 2em;
}
#overlay input::before {
	content: '';
	display: block;
	position: absolute;

	top: 0;
	left: 0;
	z-index: 4;

	width: 48px;
	height: 23px;
	background: coral;
	border-radius: 10px;
	border: 1px solid #666;
	box-shadow: 0 0 2px 1px rgba(100,100,100, 0.7) inset;
}
#overlay input:checked::before{
	background: white;
}
#overlay input::after {
	content: '';
	display: block;
	position: absolute;

	top: 0;
	left: 0;
	z-index: 4;

	height: 24px;
	width: 24px;
	background: #333;
	border-radius: 10px;
	box-shadow: 1px 1px 4px 1px rgba(100,100,100, 0.7);
}

#overlay #menu-close {
	border: 1px solid white;
	border-radius: 50%;
	padding: 1em;
	width: 1em;
	height: 1em;
}
#overlay #menu-close::after {
	content: '𝗫';
	display: block;
	transform: translate(3px, -3px);
	/* random not centering fonts 🙄 */
}
