@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

/* Defaults */

body,
html {
	all: unset;
}
body {
	width: 100%;
	height: 100%;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
}
.flex-container__centre-flex, main, aside {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
}
.flex-conatiner__flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

/* Slot */

main {
	background: coral;
	position: fixed;
	z-index: 1;
}
main::before {
	content: '';
	display: block;
	position: absolute;

	width: 100%;
	height: 100%;
	background: url(../img/confetti.gif) repeat;

	pointer-events: none;
	will-change: auto;
	transform: translateY(-100%);
	transition: transform 1.5s cubic-bezier(0, 0, 0.3, 1);
}
main.winner::before {
		transform: translateY(0);
}
.machine {
	width: 50%;
	height: 350px;

	border: 15px solid brown;
	border-radius: 20px;
	flex-flow: column;
}
.machine__slot-rotator {
	width: 30%;
	border: 20px solid #333;
	border-radius: 20px;
	overflow: hidden;
}

.machine__slot-rotator > img {
	width: 100%;
	will-change: transform;

	transform: translateY(0);
}
.machine__slot-rotator > img::before {
	content: '';
	display: block;
	position: absolute;
	z-index: inherit;

	width: 100px;
	height: 100px;

	transform: translateY(100%);

	background: url(../img/sprite2.png);
	background-size: cover;
    background-position: left center;
}

.machine__slot-rotator.position-0 > img {
	transform: translateY(0%);
}
.machine__slot-rotator.position-1 > img {
	transform: translateY(-20%);
}
.machine__slot-rotator.position-2 > img {
	transform: translateY(-40%);
}
.machine__slot-rotator.position-3 > img {
	transform: translateY(-60%);
}
.machine__slot-rotator.position-4 > img {
	transform: translateY(-80%);
}

button#button-settings {
	position: fixed;
	z-index: 3;
	top: 2em;
	left: 2em;
}

/* White design */

main.alternate-style {
	background: #DDD;
}
main.alternate-style .machine {
	background: #FFF;
}

/* Overlay */
#overlay {
	position: fixed;
	z-index: 2;
	background: rgba(100,100,100, 0.5);

	opacity: 0;
	pointer-events: none;
}
#overlay.menu-open {
	opacity: 1;
	pointer-events: auto;
}

.overlay__menu-container {
	background: white;
	height: 200px;
	width: 40%;

	padding: 2em;
	box-shadow: 2px 2px 8px 2px rgba(50,50,50, 0.7);
}
#overlay #overlay__menu-options {
	height: 50%;
	position: relative;
}
#overlay input {
	display: block;
	all: unset;
	padding: 2em;
}
#overlay input::before {
	content: '';
	display: block;
	position: absolute;

	top: 0;
	left: 0;
	z-index: 4;

	width: 48px;
	height: 23px;
	background: coral;
	border-radius: 10px;
	border: 1px solid #333;
	box-shadow: 0 0 2px 1px rgba(100,100,100, 0.7) inset;
}
#overlay input:checked::before{
	background: white;
}
#overlay input::after {
	content: '';
	display: block;
	position: absolute;

	top: 0;
	left: 0;
	z-index: 4;

	height: 24px;
	width: 24px;
	background: #333;
	border-radius: 10px;
	box-shadow: 1px 1px 4px 1px rgba(100,100,100, 0.7);
}
