/*
 * Base styles
 */

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

nav {
    width: 100%;
    display: flex;
}

/*
 * Typography
 */

 h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", serif;
 }
html, body {
    font-family: "Arial", sans-serif;
}