/*
 * Base styles
 */

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: var(--colour_base-white);
    --colour_primary: #FF0000;
    --colour_secondary: #FF0091;
    --colour_base-white: #FFF;
    --colour_base-black: #000;
    --colour_base-light-grey: #C1C1C1;
}

body {
    display: flex;
    flex-direction: column;
}

/* Lists are boring */
ul {
    display: flex;
    list-style: none;
    padding: 0;
}
ul li {
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

/*
 * Navigation
 */

nav {
    /* opacity: 0.8; */
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    background: var(--colour_base-white);
    border: 1px solid var(--colour_base-light-grey);
    box-shadow: 0 0 12px 5px var(--colour_base-light-grey);
}

nav ul {
    justify-content: center;
    align-items: center;
}
nav * li {
    position: relative;
    margin: .5em 5em;
}

nav * li::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: var(--colour_primary);
    transition: all 0.2s cubic-bezier(0, 0, 0.3, 1);
}
nav * li:hover::after {
    opacity: 0.4;
}


/*
 * Main container
 */

main {
    margin: auto;
    width: 50vw;
}

/*
 * Article
 */

article {
    display: block;
    clear: both;
    margin: 4em 0;
}

ul.date {
    flex-direction: column;
    color: var(--colour_base-white);
    background: var(--colour_base-black);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    transform: translateX(-8em) translateY(-1em) rotate(20deg);
}
article:nth-child(2n) > ul.date {
    transform: translateX(42em) translateY(-1em) rotate(20deg);
}
ul.date li {
    margin: 0;
    padding: 0;
}

.picture {
    position: relative;
    float: left;
    margin: 0 1em 1em 0;
    overflow: hidden;
    border-radius: 25px;
}
.picture img {
    max-width: 25vw;
    height: auto;
}
.picture .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture .caption::after {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--colour_primary);
    opacity: 0.2;
    border-radius: 25px;
}
article:nth-child(2n+1) > .picture {
    float: right;
    margin: 0 0 1em 1em;
}

ul.social {
    clear: both;
    justify-content: flex-end;
    direction: ltr;
}
ul.social * a {
    margin-left: 1em;
}
ul.social * a img {
    opacity: 0.5;
}
ul.social * a:hover img {
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
}

.taglabel {
    color: var(--colour_primary);
}

footer.main {
    display: flex;
    clear: both;
    justify-content: space-between;
    padding: 2em 0;
}

/*
 * Banner
 */

div#banner {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    transform: rotate(45deg) translate(6.2em);
    color: var(--colour_base-white);
    background: var(--colour_primary);
    padding: 2em 5em;
    width: 12vw;
    text-align: center;
    justify-content: center;
}
